@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}
body{
    border:0;
    margin:0;
    padding:0;
    /* background: rgb(222, 222, 229); */
    background:rgb(19, 51, 19);
}